#Encabezado {
    font-family: "Fira Sans",sans-serif;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    text-align: center;
    /*background-color: #e2e2e2;*/
    /*border: 5px solid rgb(202, 202, 202);*/
}

img{
    display:block;
    margin:auto;
    }

#Bloque1 {
    display: inline-block;
    font-family: "Fira Sans",sans-serif;
    width: 376px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(149, 191, 255);
}

#Bloque2 {
    display: inline-block;
    font-family: "Fira Sans",sans-serif;
    width: 376px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(149, 191, 255);
}

#Bloque3 {
    display: inline-block;
    font-family: "Fira Sans",sans-serif;
    width: 376px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(149, 191, 255);
}

#Bloque4{
    display: inline-block;
    font-family: "Fira Sans",sans-serif;
    width: 376px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(149, 191, 255);
}

#btn-darOpinion{
    margin-top: 30px;
}

.button{
    width: 210px;
    height: 70px;
    font-size: x-large;
    border-radius: 5px;
    background-color: #154686;
    color: white;
}

.button a{
    color: white;
    text-decoration: none;
    
}

#formulario ul{
    list-style: none;
}

#formulario li{
    margin-bottom: 10px;
}

.form input{
    margin-left: auto;
}

select, input, textarea{
    font-size: large;
}

#formulario {
    font-size: large;
    
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    /*border: 1px solid #CCC;*/
    border-radius: 1em;
}